@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
*{
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
/*Styling for Login Page*/
.nav{
   font-weight: 800;
}
.login{
     display: flex;
}
.details{
    margin: 5rem 2rem;
    width: 100%;
} 
.center{
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
}
.login h1{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 44px;
    
    /* darker-dark */
    color: #1D2129;
}
.login h2{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 29px;
    margin-bottom: 3rem;
    /* darker-dark */
    color: #1D2129;
}
.login.label{
    font-weight: 600;
    font-size: 0.5rem;
    line-height: 160%;
    /* 🔹 Solid / Brand / Dark Gray / Dark Gray-400 */
    color: #525C76;
}
.d-grid{
    margin-top: 2rem;
}
.service{
    display: none;
}
.flex{
    display:flex;
}
.flex .label{
    text-align: center;
}

.half-width{
    width: 50%;
}

.dropdown{
    width: 4rem;
    line-height: 2rem;
}
.flex .label{
    margin-right: 1rem;
}
.white{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/*Give the span 1rem padding space on both sides*/
.sumLayout{
   padding-right: 1.5rem;
}
/*Styling for Button*/
button{
    width: 100%;
}
/*Styling for Counting Page*/
.login-details{
    margin: 2rem;
}
.end{
    display: flex;
    justify-content: space-between;
}
.contain{
    max-width: 500px;
    background-color: rgb(235, 232, 232);
    color: black;
    margin: 50px auto;
    padding: 25px;
    display: grid;
    gap: 20px 0;
    font-weight: 500;
}
.item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}
.result{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.score{
    background-color: white;
    color: black;
    max-width: 1000%;
    border-radius: 3px;
    padding: 4px 0 4px 10px;
}

@media only screen and (min-width: 700px) {
.service{
    display: block;
    width: 40%;
    margin-top: 7rem;
}
.details{
    width: 60%;
}
}