@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
*{
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F2F3F6;
}
.container{
    display: flex
}
.container--img{
    width: 60%;
}
.section--image{
    height: 100vh;
}
main{
    width: 40%;
    position: relative;
}
.footer--text{
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
    padding-block: 1.2rem;
    width: 100%;
}
.footer--text ul{
    display: flex;
    
}
.footer--text li {
    padding-right: 10px;
    list-style: none;
    font-size: .7rem;
}
.footer--text p{
    font-size: .7rem;
    
}