@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
*{
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.nav{
   font-weight: 800;
}
.login{
     display: flex;
}
.details{
    margin: 5rem 2rem;
    width: 100%;
} 
.center{
    text-align: center;
    margin-top: 6rem;
}
.login h1{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 44px;
    
    /* darker-dark */
    color: #1D2129;
}
.login h2{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 29px;
    margin-bottom: 3rem;
    /* darker-dark */
    color: #1D2129;
}
.login.label{
    font-weight: 600;
    font-size: 0.5rem;
    line-height: 160%;

    /* 🔹 Solid / Brand / Dark Gray / Dark Gray-400 */
    color: #525C76;
}
.d-grid{
    margin-top: 2rem;
}
.service{
    display: none;
}
.flex{
    display:flex;
}
.flex .label{
    text-align: center;
}
.myControlClassName{
    padding: 20px 60px 10px 10px
}
.half-width{
    width: 50%;
}
.end{
    justify-content: space-between;
}
.dropdown{
    width: 4rem;
    line-height: 2rem;
}
.flex .label{
    margin-right: 1rem;
}
@media only screen and (min-width: 700px) {
.service{
    display: block;
    width: 40%;
    margin-top: 7rem;
}
.details{
    width: 60%;
}
}